*
{
    box-sizing: border-box;
}

body
{
    background-color: #353535;
}

.caption
{
    font-size: 16px;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;

    color: #A731CDFF
}

.text
{
    font-size: 14px;

    padding-right: 5px;
    padding-left: 5px;

    text-align: justify;
}


#header
{
    height: 200px;
    padding-bottom: 5px;

    background-color: #1f19e5ff;
}

.content
{
	padding-top: 5px;
    min-height: 300px;
}

.row
{
    float: left;

    width: 33.33%;
    padding-right: 5px;
}

.row3
{
    float: left;

    width: 33.33%;
}

.inner-row
{
    min-height: 300px;

    background-color: #1f19e5ff;
}

div
{
    color: white;
}

.footer {
	padding-top: 10px;
}

.inner-footer {
	min-height: 100px;

    background-color: #1f19e5ff;
}

.submitButton
{
    width: 80px;
    height: 25px;

    border-radius: 5px;
}

.hexagon:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.hexagon { display: inline-block; }
/* start commented backslash hack \*/
* html .hexagon { height: 1%; }
.hexagon { display: block; }
/* close commented backslash hack */

.hexagon
{
    position: relative;

    float: left;
    zoom: 1;

    width: 150px;
    height: 86px;
    margin: 25px 5px;

    text-align: center;

    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 173px;
}


.hexagone .corner-1,
.hexagone .corner-2
{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background: inherit;

    backface-visibility: hidden;
}

.hexagon .corner-1
{
    z-index: -1;

    transform: rotate(60deg);
}

.hexagon .corner-2
{
    transform: rotate(-60deg);
}

.hexagone .corner-1:before,
.hexagone .corner-2:before
{
    position: absolute;
    z-index: 1;#8D5FD9FF
    top: 0;
    left: 0;

    width: 173px;
    height: 173px;

    content: '';

    background: inherit;
    background: inherit;
    background-repeat: no-repeat;

    backface-visibility: hidden;
}

.hexagone .corner-1:before
{
    transform: rotate(-60deg) translate(-87px, 0px);
    transform-origin: 0 0;
}

.hexagone .corner-2:before
{
    bottom: 0;

    transform: rotate(60deg) translate(-48px, -11px);
}